<div class="container mt-4">
  <br>
  <h3>Client</h3>
  <div class="form-outline mt-3">
    <input type="search" [(ngModel)]="searchText" id="form1" class="form-control" placeholder="Search Client">
  </div>
  <br>
  <button class="btn btn-secondary" routerLink="/client/add">Add Client</button>
  <br>
  <br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>Email Address</th>
        <th>Contact Number</th>
        <th>ID Number</th>
        <th>Title</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients | filter: searchText">
        <td>{{ client.client_Name }}</td>
        <td>{{ client.client_Surname }}</td>
        <td>{{ client.client_Address }}</td>
        <td>{{ client.client_Email_Address }}</td>
        <td>{{ client.client_Contact_Number }}</td>
        <td>{{ client.client_ID_Number }}</td>
        <td>{{ client.title }}</td>
        <td>{{ client.client_Gender }}</td>
        <td>
          <div class="button-container">
            <a href="#" class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">Delete</a>
            <a (click)="editClient(client.id)" class="btn btn-primary btn-sm mx-2">Edit</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
