<div class="outer">
    <div class="container">
      <div class="row">
        <div></div>
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Reset Password</h3>
            </div>
            <div class="panel-body p-3">
              <form [formGroup]="resetForm" (ngSubmit)="ResetPassword()">
                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="resetForm.get('token')?.dirty && resetForm.get('token')?.hasError('required')">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="token" type="text" placeholder="Token/OTP">
                  </div>
                </div>
                <small *ngIf="resetForm.get('token')?.dirty && resetForm.get('token')?.hasError('required')" class="text-danger">*Token Is Required</small>

                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="resetForm.get('password')?.dirty && resetForm.get('password')?.hasError('required')">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="password" [type]="type" placeholder="New Password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                  </div>
                </div>
                <small *ngIf="resetForm.get('password')?.dirty && resetForm.get('password')?.hasError('required')" class="text-danger">*New Password Is Required</small>

                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="resetForm.get('confirmPassword')?.dirty && resetForm.get('confirmPassword')?.hasError('required')">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="confirmPassword" [type]="type" placeholder="Confirm Password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                  </div>
                </div>
                <small *ngIf="resetForm.get('confirmPassword')?.dirty && resetForm.get('confirmPassword')?.hasError('required')" class="text-danger">*Confirm Password Is Required</small>

                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-envelope p-2"></span>
                    <input formControlName="email" type="email" placeholder="Email" readonly>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Reset Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  