<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Dashboard</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<app-menlyn-navbar></app-menlyn-navbar>
<app-admin-sidebar></app-admin-sidebar>

<div class="container">
    <div class="main">
        <div class="topbar">
            <div class="toggle">
            </div>
            <p style=" font-size: 35px;">Inspection Item Homepage</p>

            <div class="search">
                <label>
                    <input type="search" [(ngModel)]="searchText" placeholder="Search Inspection Items">
                </label>
            </div>

            <div class="user">
                <img  alt="">
            </div>
        </div>


        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Inspection Items</h2>
                    <a routerLink="/inspection_item/add" class="btn">Log An Inspection Item</a>
                </div>

                <table>
                    <thead>
                        <tr>
                            <td>Inspection Item Name</td>
                            <td>Insepction Item Condition</td>
                            <td>Inventory Name</td>
                            <td>Modify</td>
                            <td>Change</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let inspection of items | filter: searchText">
                            <td>{{ inspection.inspection_Item_Name }}</td>
                            <td>{{ inspection.inspection_Item_Condition }}</td>
                            <td>{{ inspection.inventory_Name }}</td>
                            <td>
                                <a href="update-inspection-item.html" class="btn" style="background-color: rgb(45, 21, 179);" [routerLink]="['/update-inspection-item', inspection.inspectionItemId]">Update</a>
                            </td>
                            <td>
                                <a class="btn" style="background-color: rgb(199, 24, 12);" (click)="resolveInspectionItem(inspection.inspectionItemId)">Resolve</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>           

</div>