<app-admin-sidebar></app-admin-sidebar>

<div class="container mt-4">
    <h2>Add Inventory Category</h2>
    <form [formGroup]="inventoryCatgoryForm" (ngSubmit)="onSubmit()">


      <div class="mb-3">
        <label for="inventory_category_name" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="inventory_category_name" formControlName="inventory_category_name" required>
        <div *ngIf="inventoryCatgoryForm.controls.inventory_category_name.errors?.required && inventoryCatgoryForm.controls.inventory_category_name.touched" class="text-danger">
          Inventory Category Name is required.
        </div>
      </div>

    

      <div class="mb-3">
        <label for="inventory_category_description" class="form-label">Inventory Category Description</label>
        <input type="text" class="form-control" id="inventory_category_description" formControlName="inventory_category_description" required>
        <div *ngIf="inventoryCatgoryForm.controls.inventory_category_description.errors?.required && inventoryCatgoryForm.controls.inventory_category_description.touched" class="text-danger">
            Inventory Category Description is required.
        </div>
      </div>
      
      
      <button type="submit" class="btn btn-success" [disabled]="inventoryCatgoryForm.invalid">Add Inventory Category</button>
      <button type="submit" class="btn btn-secondary m-4" routerLink="/courses">Cancel</button>

    </form>
   </div>
