<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">

                </span>
                <span class="title">Menlyn Mews</span>
            </a>
        </li>

        <li>
            <a routerLink="/admin-dash">
                <span class="icon">

                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li>
            <a routerLink="/orders">
                <span class="icon">

                </span>
                <span class="title">Orders</span>
            </a>
        </li>

        <li>
            <a routerLink="/supplier">
                <span class="icon">

                </span>
                <span class="title">Suppliers</span>
            </a>
        </li>

        <li>
            <a routerLink="/inventory">
                <span class="icon">

                </span>
                <span class="title">Inventory</span>
            </a>
        </li>

        <li>
            <a href="/Events/events.html">
                <span class="icon">

                </span>
                <span class="title">Events</span>
            </a>
        </li>


        <li>
            <a routerLink="/reports">
                <span class="icon">

                </span>
                <span class="title">Reports</span>
            </a>
        </li>

        <li>
            <a routerLink="/login" (click)="logout()">
                <span class="icon">
                </span>
                <span class="title">Logout</span>
            </a>
        </li>
    </ul>
</div>