
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 60px 20px;
  }

  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
  }

  .grid-item h2 {
    margin-top: 0; /* Remove default margin from h4 */
  }

  .grid-item p {
    margin-top: 5px; /* Adjust spacing between h4 and p */
    text-align: left; /* Align the text to the left */
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
