<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let review of reviews">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Rating: {{ review.review_Rating }} <i style="font-size:24px" class="fa">&#xf005;</i></h5>
          <img [src]="reviewImg" height="200">
          <h6 class="card-subtitle mb-2 text-muted">{{ review.review_Status }}</h6>
          <p class="card-text">{{ review.review_Description }}</p>
          <div class="button-container d-flex justify-content-between">
            <a href="#" class="btn btn-danger" (click)="deleteReview(review.id)">Delete Review</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
 <button class="btn btn-secondary" routerLink="/review/add">Add Review</button> 
</div>


<p></p>