<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <app-menlyn-navbar></app-menlyn-navbar>'
    <app-admin-sidebar></app-admin-sidebar>
    <div class="main">
        <div class="topbar">
            <div class="toggle">

            </div>
            <p style=" font-size: 35px;">Update VAT</p>

            <div class="user">
                <img alt="">
            </div>
        </div>

        <form [formGroup]="vatForm" (ngSubmit)="onSubmit()">
           <div class="order-form">
            <h2>Update VAT Amount</h2>
            
            <label for="order-description">VAT Amount</label>
            <input type="number" id="order-description" name="order-description" formControlName="vaT_Amount">
    
            <input type="submit" value="Update VAT Amount">
            <input type="submit" value="Cancel" style="background-color: red;" routerLink="/vat">
        </div>         
        </form>
    </div>
</body>