<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Dashboard</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
        <app-admin-sidebar></app-admin-sidebar>
<body>
    <!-- =============== Navigation ================ -->
    <div class="container">


        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">


                </div>
                <p style=" font-size: 35px;">Admin Dashboard</p>

                <div class="search">
                    <label>
                        <input type="search" [(ngModel)]="searchText" placeholder="Search here">

                    </label>
                </div>

                <div class="user">
                    <img alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->



            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Orders</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Order Description</td>
                                <td>Order Date</td>
                                <td>Supplier</td>
                                <td>Created By</td>
                                <td>Shift Date</td>
                                <td>Shift Time</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let order of orders | filter: searchText">
                                <td>{{ order.order_Description }}</td>
                                <td>{{ order.order_Date }}</td>
                                <td>{{ order.supplier }}</td>
                                <td>{{ order.employee }}</td>
                                <td>{{ order.shift_Date }}</td>
                                <td>{{ order.shift_Time }}</td>
                                <td><span class="status delivered">{{ order.order_Status }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Quick Management</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/event_type"><span class="btn">Event Type</span> <br></a>
                            </td>
                        </tr> 

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/capture-delivery"><span class="btn">Capture Delivered Supplier Order</span> <br></a>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/supplier_type"><span class="btn">Supplier Type Management</span><br></a>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/stock_take"><span class="btn">Stock Take</span> <br></a>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/inventory_category"><span class="btn">Inventory Category</span> <br></a>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/inventory_type"><span class="btn">Inventory Type</span> <br></a>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/inspection_item"><span class="btn">Inspection Item</span> <br></a>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/write_offs"><span class="btn">Write Off</span> <br></a>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <span class="icon">

                                </span>
                            </td>
                            <td>
                                <a routerLink="/product"><span class="btn">Product Management</span> <br></a>
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>