<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <a class="navbar-brand" href="home" > <i class="fa fa-bed mr-2"></i>Menlyn Mews</a>
    <!-- Faerie Glen Nature Reserve -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mynav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/client/" >Clients</a>
        </li>

        <li>
          <a class="nav-link" routerLink="admin-dash">Admin Dashboard</a>
        </li>
  <!--

    <li class="nav-item">
          <a class="nav-link" routerLink="/employees/add" >Add Employee</a>
        </li>
  -->
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/review" >Reviews</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/inventory" >Inventory</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/room_type" >Room Type</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/room_booking" >Room Bookings</a>
        </li>

          
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventoryvm" >Inventory VM Test 1</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/employees" >Employee</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/employees/add" >Add Employee</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/employees/edit" >edit Employee</a>
        </li>
        
       
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " href="#contact">Accomodations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="#contact">Events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="#contact">Contact</a>
        </li>
        
      </ul>

    </div>

  </nav>