.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #488ad4;
    color: black;
  }
  
  .topnav a.active {
    background-color: #27e436;
    color: rgb(49, 149, 189);
  }

  .navbar {
    background-color: #1394bb; /* Green color */
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .nav-link {
    font-weight: bold;
    color: #fff; /* White color */
  }
  
  .nav-link:hover {
    color: #f8f9fa; /* Light gray color */
  }
  
